<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <table class="table table-striped" style="margin-top: 50px;">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of data">
            <td>{{ i.name }}</td>
            <td>{{ i.age }}</td>
            <td>{{ i.country }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
